<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bakiyem.surucu.project">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

    <application
        android:name="com.bakiyem.surucu.project.SurucuKursuApplication"
        android:allowBackup="true"
        android:icon="@drawable/ic_app_icon"
        android:label="@string/app_name"
        android:roundIcon="@drawable/ic_app_icon"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name="com.bakiyem.surucu.project.activity.splash.SplashScreenActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.bakiyem.surucu.project.MainActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.duyuruDetay.DuyuruDetayActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.hakkimizda.HakkimizdaActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.araclarimiz.view.AraclarimizActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.galeri.GaleriActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.kadromuz.KadromuzActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name="com.bakiyem.surucu.project.activity.profil.ProfilimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.dersKategorileri.DerslerimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.dersListesi.DersListesiActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.dersIcerik.DersIcerikActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.sinavlarim.SinavlarimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.denemeSinavlarimKlavuz.DenemeSinavlarimKlavuzActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.denemeSinavi.DenemeSinaviActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.ozelSinavlarim.OzelSinavlarimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.sinifSinavlari.SinifSinavlariActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.sinavSonuclarim.SinavSonuclarimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.odemeBilgilerim.OdemeBilgilerimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.randevular.RandevularimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.faydaliBilgiler.FaydaliBilgilerActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.faydaliBilgilerDetay.FaydaliBilgilerDetayActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.randevuEkle.RandevuEkleActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.odemeYap.OdemeYap"
            android:theme="@style/AppTheme.NoActionBar"
            android:windowSoftInputMode="adjustResize"/>

        <activity android:name="com.bakiyem.surucu.project.activity.webView3D.CheckoutPaymentWVActivityNew"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name="com.bakiyem.surucu.project.activity.video.VideolarimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <service
            android:name="com.bakiyem.surucu.project.notif.MyFirebaseMessagingService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>
        </service>

        <service
            android:name="com.bakiyem.surucu.project.notif.TokenService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT"/>
            </intent-filter>
        </service>

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_icon"
            android:resource="@drawable/ic_app_icon" />

        <meta-data
            android:name="com.google.firebase.messaging.default_notification_color"
            android:resource="@color/orange" />

    </application>

</manifest>