<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.bakiyem.surucu.proje">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".SurucuKursuApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true"
        tools:replace="android:icon">
        <activity
            android:name=".MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name=".activity.duyuruDetay.DuyuruDetayActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.login.LoginActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.hakkimizda.HakkimizdaActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.araclarimiz.view.AraclarimizActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.galeri.GaleriActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.kadromuz.KadromuzActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity
            android:name=".activity.profil.ProfilimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.dersKategorileri.DerslerimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.dersListesi.DersListesiActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.dersIcerik.DersIcerikActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.sinavlarim.SinavlarimActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.denemeSinavlarimKlavuz.DenemeSinavlarimKlavuzActivity"
            android:theme="@style/AppTheme.NoActionBar" />

        <activity android:name=".activity.denemeSinavi.DenemeSinaviActivity"
            android:theme="@style/AppTheme.NoActionBar" />

    </application>

</manifest>